<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ErmasCaseMainMapper" >
  <resultMap id="BaseResultMap" type="entity.ErmasCaseMain" >
    <id column="ACCT_NBR" property="acctNbr" jdbcType="BIGINT" />
    <result column="ORG" property="org" jdbcType="CHAR" />
    <result column="CUST_ID" property="custId" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
    <result column="ID_TYPE" property="idType" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="CHAR" />
    <result column="MOBILE_NO" property="mobileNo" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="PRE_FUNCTION_CODE" property="preFunctionCode" jdbcType="VARCHAR" />
    <result column="FUNCTION_CODE" property="functionCode" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COLLECT_IN_DATE" property="collectInDate" jdbcType="DATE" />
    <result column="COLLECT_OUT_DATE" property="collectOutDate" jdbcType="DATE" />
    <result column="COLLECT_FLAG" property="collectFlag" jdbcType="VARCHAR" />
    <result column="LAST_COLL_TIME" property="lastCollTime" jdbcType="TIMESTAMP" />
    <result column="LOAN_PROD_GROUP" property="loanProdGroup" jdbcType="VARCHAR" />
    <result column="JPA_VERSION" property="jpaVersion" jdbcType="DECIMAL" />
    <result column="OVER_DUE_DAYS" property="overDueDays" jdbcType="INTEGER" />
    <result column="PASS_DUE_AMT" property="passDueAmt" jdbcType="DECIMAL" />
    <result column="BATCH_DATE" property="batchDate" jdbcType="DATE" />
    <result column="SERIAL_CASE_STATUS" property="serialCaseStatus" jdbcType="VARCHAR" />
    <result column="CASE_INFO_TRUTH" property="caseInfoTruth" jdbcType="VARCHAR" />
    <result column="MAX_OVER_DUE_DAYS" property="maxOverDueDays" jdbcType="INTEGER" />
    <result column="MAX_PASS_DUE_AMT" property="maxPassDueAmt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ACCT_NBR, ORG, CUST_ID, NAME, ID_NO, ID_TYPE, GENDER, MOBILE_NO, EMAIL, PRE_FUNCTION_CODE, 
    FUNCTION_CODE, CREATE_USER, CREATE_TIME, COLLECT_IN_DATE, COLLECT_OUT_DATE, COLLECT_FLAG, 
    LAST_COLL_TIME, LOAN_PROD_GROUP, JPA_VERSION, OVER_DUE_DAYS, PASS_DUE_AMT, BATCH_DATE, 
    SERIAL_CASE_STATUS, CASE_INFO_TRUTH, MAX_OVER_DUE_DAYS, MAX_PASS_DUE_AMT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="entity.ErmasCaseMainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ermas_case_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ermas_case_main
    where ACCT_NBR = #{acctNbr,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ermas_case_main
    where ACCT_NBR = #{acctNbr,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="entity.ErmasCaseMainExample" >
    delete from ermas_case_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.ErmasCaseMain" >
    insert into ermas_case_main (ACCT_NBR, ORG, CUST_ID, 
      NAME, ID_NO, ID_TYPE, 
      GENDER, MOBILE_NO, EMAIL, 
      PRE_FUNCTION_CODE, FUNCTION_CODE, CREATE_USER, 
      CREATE_TIME, COLLECT_IN_DATE, COLLECT_OUT_DATE, 
      COLLECT_FLAG, LAST_COLL_TIME, LOAN_PROD_GROUP, 
      JPA_VERSION, OVER_DUE_DAYS, PASS_DUE_AMT, 
      BATCH_DATE, SERIAL_CASE_STATUS, CASE_INFO_TRUTH, 
      MAX_OVER_DUE_DAYS, MAX_PASS_DUE_AMT)
    values (#{acctNbr,jdbcType=BIGINT}, #{org,jdbcType=CHAR}, #{custId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{idNo,jdbcType=VARCHAR}, #{idType,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{mobileNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{preFunctionCode,jdbcType=VARCHAR}, #{functionCode,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{collectInDate,jdbcType=DATE}, #{collectOutDate,jdbcType=DATE}, 
      #{collectFlag,jdbcType=VARCHAR}, #{lastCollTime,jdbcType=TIMESTAMP}, #{loanProdGroup,jdbcType=VARCHAR}, 
      #{jpaVersion,jdbcType=DECIMAL}, #{overDueDays,jdbcType=INTEGER}, #{passDueAmt,jdbcType=DECIMAL}, 
      #{batchDate,jdbcType=DATE}, #{serialCaseStatus,jdbcType=VARCHAR}, #{caseInfoTruth,jdbcType=VARCHAR}, 
      #{maxOverDueDays,jdbcType=INTEGER}, #{maxPassDueAmt,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="entity.ErmasCaseMain" >
    insert into ermas_case_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acctNbr != null" >
        ACCT_NBR,
      </if>
      <if test="org != null" >
        ORG,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="idNo != null" >
        ID_NO,
      </if>
      <if test="idType != null" >
        ID_TYPE,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="mobileNo != null" >
        MOBILE_NO,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="preFunctionCode != null" >
        PRE_FUNCTION_CODE,
      </if>
      <if test="functionCode != null" >
        FUNCTION_CODE,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="collectInDate != null" >
        COLLECT_IN_DATE,
      </if>
      <if test="collectOutDate != null" >
        COLLECT_OUT_DATE,
      </if>
      <if test="collectFlag != null" >
        COLLECT_FLAG,
      </if>
      <if test="lastCollTime != null" >
        LAST_COLL_TIME,
      </if>
      <if test="loanProdGroup != null" >
        LOAN_PROD_GROUP,
      </if>
      <if test="jpaVersion != null" >
        JPA_VERSION,
      </if>
      <if test="overDueDays != null" >
        OVER_DUE_DAYS,
      </if>
      <if test="passDueAmt != null" >
        PASS_DUE_AMT,
      </if>
      <if test="batchDate != null" >
        BATCH_DATE,
      </if>
      <if test="serialCaseStatus != null" >
        SERIAL_CASE_STATUS,
      </if>
      <if test="caseInfoTruth != null" >
        CASE_INFO_TRUTH,
      </if>
      <if test="maxOverDueDays != null" >
        MAX_OVER_DUE_DAYS,
      </if>
      <if test="maxPassDueAmt != null" >
        MAX_PASS_DUE_AMT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acctNbr != null" >
        #{acctNbr,jdbcType=BIGINT},
      </if>
      <if test="org != null" >
        #{org,jdbcType=CHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="mobileNo != null" >
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="preFunctionCode != null" >
        #{preFunctionCode,jdbcType=VARCHAR},
      </if>
      <if test="functionCode != null" >
        #{functionCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectInDate != null" >
        #{collectInDate,jdbcType=DATE},
      </if>
      <if test="collectOutDate != null" >
        #{collectOutDate,jdbcType=DATE},
      </if>
      <if test="collectFlag != null" >
        #{collectFlag,jdbcType=VARCHAR},
      </if>
      <if test="lastCollTime != null" >
        #{lastCollTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanProdGroup != null" >
        #{loanProdGroup,jdbcType=VARCHAR},
      </if>
      <if test="jpaVersion != null" >
        #{jpaVersion,jdbcType=DECIMAL},
      </if>
      <if test="overDueDays != null" >
        #{overDueDays,jdbcType=INTEGER},
      </if>
      <if test="passDueAmt != null" >
        #{passDueAmt,jdbcType=DECIMAL},
      </if>
      <if test="batchDate != null" >
        #{batchDate,jdbcType=DATE},
      </if>
      <if test="serialCaseStatus != null" >
        #{serialCaseStatus,jdbcType=VARCHAR},
      </if>
      <if test="caseInfoTruth != null" >
        #{caseInfoTruth,jdbcType=VARCHAR},
      </if>
      <if test="maxOverDueDays != null" >
        #{maxOverDueDays,jdbcType=INTEGER},
      </if>
      <if test="maxPassDueAmt != null" >
        #{maxPassDueAmt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.ErmasCaseMainExample" resultType="java.lang.Integer" >
    select count(*) from ermas_case_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ermas_case_main
    <set >
      <if test="record.acctNbr != null" >
        ACCT_NBR = #{record.acctNbr,jdbcType=BIGINT},
      </if>
      <if test="record.org != null" >
        ORG = #{record.org,jdbcType=CHAR},
      </if>
      <if test="record.custId != null" >
        CUST_ID = #{record.custId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null" >
        ID_NO = #{record.idNo,jdbcType=VARCHAR},
      </if>
      <if test="record.idType != null" >
        ID_TYPE = #{record.idType,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        GENDER = #{record.gender,jdbcType=CHAR},
      </if>
      <if test="record.mobileNo != null" >
        MOBILE_NO = #{record.mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.preFunctionCode != null" >
        PRE_FUNCTION_CODE = #{record.preFunctionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.functionCode != null" >
        FUNCTION_CODE = #{record.functionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.collectInDate != null" >
        COLLECT_IN_DATE = #{record.collectInDate,jdbcType=DATE},
      </if>
      <if test="record.collectOutDate != null" >
        COLLECT_OUT_DATE = #{record.collectOutDate,jdbcType=DATE},
      </if>
      <if test="record.collectFlag != null" >
        COLLECT_FLAG = #{record.collectFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.lastCollTime != null" >
        LAST_COLL_TIME = #{record.lastCollTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loanProdGroup != null" >
        LOAN_PROD_GROUP = #{record.loanProdGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.jpaVersion != null" >
        JPA_VERSION = #{record.jpaVersion,jdbcType=DECIMAL},
      </if>
      <if test="record.overDueDays != null" >
        OVER_DUE_DAYS = #{record.overDueDays,jdbcType=INTEGER},
      </if>
      <if test="record.passDueAmt != null" >
        PASS_DUE_AMT = #{record.passDueAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.batchDate != null" >
        BATCH_DATE = #{record.batchDate,jdbcType=DATE},
      </if>
      <if test="record.serialCaseStatus != null" >
        SERIAL_CASE_STATUS = #{record.serialCaseStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.caseInfoTruth != null" >
        CASE_INFO_TRUTH = #{record.caseInfoTruth,jdbcType=VARCHAR},
      </if>
      <if test="record.maxOverDueDays != null" >
        MAX_OVER_DUE_DAYS = #{record.maxOverDueDays,jdbcType=INTEGER},
      </if>
      <if test="record.maxPassDueAmt != null" >
        MAX_PASS_DUE_AMT = #{record.maxPassDueAmt,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ermas_case_main
    set ACCT_NBR = #{record.acctNbr,jdbcType=BIGINT},
      ORG = #{record.org,jdbcType=CHAR},
      CUST_ID = #{record.custId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      ID_NO = #{record.idNo,jdbcType=VARCHAR},
      ID_TYPE = #{record.idType,jdbcType=VARCHAR},
      GENDER = #{record.gender,jdbcType=CHAR},
      MOBILE_NO = #{record.mobileNo,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      PRE_FUNCTION_CODE = #{record.preFunctionCode,jdbcType=VARCHAR},
      FUNCTION_CODE = #{record.functionCode,jdbcType=VARCHAR},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      COLLECT_IN_DATE = #{record.collectInDate,jdbcType=DATE},
      COLLECT_OUT_DATE = #{record.collectOutDate,jdbcType=DATE},
      COLLECT_FLAG = #{record.collectFlag,jdbcType=VARCHAR},
      LAST_COLL_TIME = #{record.lastCollTime,jdbcType=TIMESTAMP},
      LOAN_PROD_GROUP = #{record.loanProdGroup,jdbcType=VARCHAR},
      JPA_VERSION = #{record.jpaVersion,jdbcType=DECIMAL},
      OVER_DUE_DAYS = #{record.overDueDays,jdbcType=INTEGER},
      PASS_DUE_AMT = #{record.passDueAmt,jdbcType=DECIMAL},
      BATCH_DATE = #{record.batchDate,jdbcType=DATE},
      SERIAL_CASE_STATUS = #{record.serialCaseStatus,jdbcType=VARCHAR},
      CASE_INFO_TRUTH = #{record.caseInfoTruth,jdbcType=VARCHAR},
      MAX_OVER_DUE_DAYS = #{record.maxOverDueDays,jdbcType=INTEGER},
      MAX_PASS_DUE_AMT = #{record.maxPassDueAmt,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.ErmasCaseMain" >
    update ermas_case_main
    <set >
      <if test="org != null" >
        ORG = #{org,jdbcType=CHAR},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        ID_TYPE = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=CHAR},
      </if>
      <if test="mobileNo != null" >
        MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="preFunctionCode != null" >
        PRE_FUNCTION_CODE = #{preFunctionCode,jdbcType=VARCHAR},
      </if>
      <if test="functionCode != null" >
        FUNCTION_CODE = #{functionCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectInDate != null" >
        COLLECT_IN_DATE = #{collectInDate,jdbcType=DATE},
      </if>
      <if test="collectOutDate != null" >
        COLLECT_OUT_DATE = #{collectOutDate,jdbcType=DATE},
      </if>
      <if test="collectFlag != null" >
        COLLECT_FLAG = #{collectFlag,jdbcType=VARCHAR},
      </if>
      <if test="lastCollTime != null" >
        LAST_COLL_TIME = #{lastCollTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanProdGroup != null" >
        LOAN_PROD_GROUP = #{loanProdGroup,jdbcType=VARCHAR},
      </if>
      <if test="jpaVersion != null" >
        JPA_VERSION = #{jpaVersion,jdbcType=DECIMAL},
      </if>
      <if test="overDueDays != null" >
        OVER_DUE_DAYS = #{overDueDays,jdbcType=INTEGER},
      </if>
      <if test="passDueAmt != null" >
        PASS_DUE_AMT = #{passDueAmt,jdbcType=DECIMAL},
      </if>
      <if test="batchDate != null" >
        BATCH_DATE = #{batchDate,jdbcType=DATE},
      </if>
      <if test="serialCaseStatus != null" >
        SERIAL_CASE_STATUS = #{serialCaseStatus,jdbcType=VARCHAR},
      </if>
      <if test="caseInfoTruth != null" >
        CASE_INFO_TRUTH = #{caseInfoTruth,jdbcType=VARCHAR},
      </if>
      <if test="maxOverDueDays != null" >
        MAX_OVER_DUE_DAYS = #{maxOverDueDays,jdbcType=INTEGER},
      </if>
      <if test="maxPassDueAmt != null" >
        MAX_PASS_DUE_AMT = #{maxPassDueAmt,jdbcType=DECIMAL},
      </if>
    </set>
    where ACCT_NBR = #{acctNbr,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.ErmasCaseMain" >
    update ermas_case_main
    set ORG = #{org,jdbcType=CHAR},
      CUST_ID = #{custId,jdbcType=BIGINT},
      NAME = #{name,jdbcType=VARCHAR},
      ID_NO = #{idNo,jdbcType=VARCHAR},
      ID_TYPE = #{idType,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=CHAR},
      MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PRE_FUNCTION_CODE = #{preFunctionCode,jdbcType=VARCHAR},
      FUNCTION_CODE = #{functionCode,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      COLLECT_IN_DATE = #{collectInDate,jdbcType=DATE},
      COLLECT_OUT_DATE = #{collectOutDate,jdbcType=DATE},
      COLLECT_FLAG = #{collectFlag,jdbcType=VARCHAR},
      LAST_COLL_TIME = #{lastCollTime,jdbcType=TIMESTAMP},
      LOAN_PROD_GROUP = #{loanProdGroup,jdbcType=VARCHAR},
      JPA_VERSION = #{jpaVersion,jdbcType=DECIMAL},
      OVER_DUE_DAYS = #{overDueDays,jdbcType=INTEGER},
      PASS_DUE_AMT = #{passDueAmt,jdbcType=DECIMAL},
      BATCH_DATE = #{batchDate,jdbcType=DATE},
      SERIAL_CASE_STATUS = #{serialCaseStatus,jdbcType=VARCHAR},
      CASE_INFO_TRUTH = #{caseInfoTruth,jdbcType=VARCHAR},
      MAX_OVER_DUE_DAYS = #{maxOverDueDays,jdbcType=INTEGER},
      MAX_PASS_DUE_AMT = #{maxPassDueAmt,jdbcType=DECIMAL}
    where ACCT_NBR = #{acctNbr,jdbcType=BIGINT}
  </update>
</mapper>